@font-face {
	font-family: CursorGothic;
	src: url(https://cursor.com/marketing-static/_next/static/media/CursorGothic_Regular-s.p.a361088d.woff2);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	font-feature-settings: "ss09";
}

:root {
	--accent-white: #edecec;
	--accent-black: #14120b;
	--accent-text-white: #edecec;
	--accent-text-white-dull: #edecec8c;
	--accent-gray: #dedbd7;
	--accent-border: #3f3d38;
	--accent-text-orange: #f54e00;
	--secondary-black: #1b1913;
	--secondary-border-color: #201f18;


	--content-width: 68vw;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--accent-black);
	color: var(--accent-text-white);
	width: 100%;
	box-sizing: border-box;
	/* padding: 0 20px; */
	margin: 0 auto;
	font-family: CursorGothic, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
	position: sticky;
	top: 0px;
	z-index: 10;
}

#header-container {
	width: var(--content-width);
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	max-height: 52px;
	padding-top: 4px;
	justify-content: space-between;
	align-items: center;
}


#logo-section svg {
	height: 23.8px;
	color: var(--accent-white);
	padding: 14px 0;
}

#navbar {
	box-sizing: border-box;
	height: 100%;
	margin-left: 70px;
}

#navbar ul {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 4px;
}

#navbar li {
	list-style: none;
	box-sizing: border-box;
	font-size: 0.875rem;
	margin-top: -3px;
	padding: 5.6px 15px;
}

#nav-buttons {

	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	gap: 8;
	display: flex;
	gap: 8px;
	margin-top: -4px;
}

#sign-in-button {

	font-family: CursorGothic, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.875rem;
	background-color: transparent;
	border: 0.5px solid var(--accent-border);
	color: #ffffff;
	padding: 5px 10px;
	padding-bottom: 4px;
	border-radius: 20px;
}

#download-button {

	font-family: CursorGothic, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.875rem;
	padding: 0 12px;
	padding-left: 11px;
	border-radius: 20px;
	border: none;
}

#main {
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
}

#hero-section {
	width: var(--content-width);
	margin: 0 auto;
	padding-top: 110px;
}

#hero-heading {
	font-style: CursorGothic, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.578rem;
	font-weight: normal;
	margin-left: 1.2px;
	width: 42%;
}

#hero-cta {
	width: fit-content;
	margin-top: 21px;
	padding: 11px 22px;
	padding-bottom: 12px;
	border-radius: 35px;
	margin-left: 2px;
}

#hero-cta a {
	text-decoration: none;
	color: var(--accent-black);
}

.banner-sections {
	height: 680px;
	max-width: var(--content-width);
	margin: 0 auto;
	border-radius: 8px;
	padding: 62px 0;
	align-items: center;
}

#hero-ide img {
	margin: 0 auto;
	image-orientation: center;
}

#trust-section {
	margin: 0 auto;
	width: var(--content-width);
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 33.6px;
}

#trust-section p {
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.01em;
	font-size: 0.875rem;
	text-align: center;
	margin-bottom: 22px;
}

#trust-members-list {
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
}

.trust-item {
	width: 11.8%;
	height: 100px;
	background-color: var(--secondary-black);
	border: 0.5px solid var(--secondary-border-color);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trust-item img {
	height: 40px;
}


.banner-sections a {
	text-decoration: none;
	font-size: 1.175rem;
	display: flex;
	padding: 17.5px 20px;
	background-color: var(--secondary-black);
}

.banner-section-text {
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner-section-text h3 {
	font-weight: 400;
	color: #ffffff;
}

.banner-text-description {
	font-size: 1.375rem;
	color: var(--accent-text-white-dull);
}

.banner-section-text span {
	font-size: 1rem;
	color: var(--accent-text-orange);
	margin-top: 15px;
}

#testimonials-section {
	width: var(--content-width);
	margin: 0 auto;
	padding: 67.2px 0;
}

#testimonials-section h1 {
	font-size: 2.25rem;
	margin-bottom: 56px;
	font-weight: 400;
	text-align: center;
}

.testimonials-container {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 425px);
	grid-template-rows: repeat(2, 240.188px);
}

.testimonial-item {
	box-sizing: border-box;
	padding: 17.5px;
	padding-top: 15.9px;
	background-color: var(--secondary-black);
	border: 0.5px solid var(--secondary-border-color);
	border-radius: 4px;
}

.testimonial-text {
	text-align: left;
	height: 120px;
	line-height: 1.5;
}

.testimonial-author {
	text-align: left;
	display: flex;
	height: 42px;
	margin-top: 44.8px;
	display: flex;
	gap: 16px;
}

.testimonial-author-image {
	height: 100%;
}

.testimonial-author-image img {
	border-radius: 4px;
	height: 100%;
}

.about-author {
	font-size: 0.875rem;
}

.author-bio {
	margin-top: 4px;
	color: var(--accent-text-white-dull);
}

#frontier-section {
	width: var(--content-width);
	margin: 0 auto;
	padding: 67.2px 0px;
}

.frontier-container {
	margin: 44.8px 0;
}

#frontier-section h2 {
	font-weight: 400;
	margin-bottom: 22.4px;
}

#frontier-item-container {
	display: flex;
	gap: 10px;
}

.frontier-item {
	width: 425.656px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: var(--secondary-black);
	box-sizing: border-box;
	padding: 17.5px;
	padding-top: 15.9px;
	border-radius: 4px;
	border: 0.5px solid var(--secondary-border-color);
}

.frontier-item h3 {
	font-weight: 400;
	font-size: 1rem;
}

.frontier-item-sub-heading {
	color: var(--accent-text-white-dull);
}

.frontier-anchor-container {
	height: 43.9px;
	padding-top: 14.9px;
	box-sizing: border-box;
}

.frontier-anchor-container a {
	text-decoration: none;
	color: var(--accent-text-orange);
}

.frontier-img-container {
	box-sizing: border-box;
	padding-top: 13px;
	border-radius: 6px;
}

.frontier-img-container img {
	border-radius: 4px;
	width: 100%;
}

#changelog-section {
	padding: 67.2px 0px;
	width: var(--content-width);
	margin: 0 auto;
}

#changelog-section h2 {
	font-weight: 400;
	font-size: 1.575rem;
	margin-bottom: 22.4px;
}

#changelog-container {
	display: flex;
	gap: 10px;
}

.changelog-item {
	background-color: var(--secondary-black);
	box-sizing: border-box;
	padding: 15.9px 17.5px;
	bottom: 20px;
	border-radius: 6px;
	line-height: 1.5;
	border: 0.5px solid var(--secondary-border-color);
}

.changelog-item-heading {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	color: var(--accent-text-white-dull);

}

.version-tag {
	box-sizing: border-box;
	font-size: 0.880rem;
	padding: 0.6px 9.1px;
	border: 1px solid var(--accent-text-white-dull);
	border-radius: 20px;
}

.changelog-description {
	width: 282.5px;
	margin-top: 13.067px;
}

#changelog-anchor {
	margin-top: 22.4px;
}

#team-section {
	margin: 0 auto;
	padding: 67 0px;
	width: var(--content-width);
}

#team-section-container {
	display: flex;
	padding-bottom: 15px;
	background-color: var(--secondary-black);
	padding: 20px;
	padding-bottom: 10px;
}

.team-section-text {
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	width: 100%;
}

.team-text-description {
	color: var(--accent-text-white);
	font-weight: 400;
	font-size: 1.375rem;
}

.team-section-text a {
	margin-top: 22.4px;
}

.team-section-image img {
	width: 100%;
	border-radius: 4px;
}

#highlights-section {
	width: 100%;
	margin-top: 67.2px;
	padding: 89.6px 0;
	box-sizing: border-box;
	background-color: var(--secondary-black);
}

#highlights-container {
	width: var(--content-width);
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(24, 1fr);

}

#highlights-container #left {
	grid-column-start: 1;
	grid-column-end: 7;
}

#highlights-container #left h2 {
	font-size: 1rem;
	font-weight: 400;
	position: sticky;
	top: 64px;
	z-index: 5;
}

#highlights-container #right {
	grid-column-start: 7;
	grid-column-end: 19;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#highlights-container #right a {
	margin-top: 22.4px;
}

article {
	background-color: #201e18;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid var(--secondary-border-color);
}

article a {
	text-decoration: none;
	box-sizing: border-box;
	padding: 20px;
}

.article-text {
	color: var(--accent-text-white);
	padding: 0 20px;
	line-height: 1.5;
}

.article-sub-heading {
	width: 94%;
}

.article-sub-heading,
span,
time {
	color: var(--accent-text-white-dull);
	text-decoration: none;
}

.article-info {
	margin-top: 22.4px;
	padding: 0 20px;
}

#cta-section {
	width: var(--content-width);
	margin: 0 auto;
	padding: 134px 0;
	box-sizing: border-box;
}

#cta-section h2 {
	font-weight: 400;
	font-size: 4.5rem;
	text-align: center;
	margin-bottom: 22.4px;
}

#cta-section div {
	text-align: center;
}

#cta-section a {
	background-color: var(--accent-white);
	text-decoration: none;
	color: var(--accent-black);
	font-size: 1rem;
	padding: 12.48px 21.6px;
	border-radius: 20px;
}

footer {
	background-color: var(--secondary-black);
	padding: 67.2px 20px 30px 20px;
}

footer #top {
	width: var(--content-width);
	margin: 0 auto;
	margin-bottom: 100.8px;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.footer-top-menu-box {
	line-height: 1.5;
}

.footer-top-menu-box h3 {
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--accent-text-white-dull);
	padding-bottom: 4.667px;
}

.footer-top-menu-box li {
	font-size: 0.875rem;
	list-style: none;
	padding: 4.6px 0;
}

footer #bottom {
	width: var(--content-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

footer #bottom small {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--accent-text-white-dull);
}

#bottom-left {
	display: flex;
	gap: 15px;
}

#bottom-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--accent-text-white);
	gap: 20px;
}

#bottom-right-left {
	display: flex;
	flex-direction: row;
	gap: 1px;
	background-color: #26241e;
	border-radius: 20px;
}

.bottom-right-button {
	background-color: transparent;
	height: 28px;
	width: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 5.6px 10.5px 5.8px 10.5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-right-button span {

	height: 100%;
	color: var(--accent-text-white-dull);
	font-family: CursorGothic, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button-active {
	background-color: #3a3932;
}

.button-active span {
	color: var(--accent-white);

}

#bottom-language-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28px;
	gap: 4px;
	color: var(--accent-text-white);
	background-color: #26241e;
	border: none;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 5.6px 10.5px 5.8px 10.5px;
	font-size: 0.875rem;
	line-height: 1.5;
	letter-spacing: 0.01em;
}

#bottom-language-button span {
	font-family: CursorGothic, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: var(--accent-text-white);
	font-feature-settings: ss09;

}
